bin
obj
_Resharper.*
*.suo
*.user
*.nupkg
packages/SimpleBrowser.*
packages/DotNetZip.*
packages/Moq.*
packages/NUnit.*
packages/Newtonsoft.*
packages/Selenium.*
packages/Castle.*
packages/Selenium.*
/.vs
